<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<div th:unless="${param.message == null}">
  <h2 th:text="${param.message[0]}"/>
</div>
<div>
  <!--todo encoding-->
  <!--todo two urls for forms-->
  <form method="post" enctype="multipart/form-data" th:action="@{/dictionary}" accept-charset="UTF-8">
    <table>
      Dictionary
      <tr><td>File to upload:</td><td><input type="file" name="file" accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ID="fileSelect" /></td></tr>
      <tr><td>Server (Example: http://test7.arta.kz/Synergy/)</td><td><input type="text" name="host"/></td></tr>
      <tr><td>Server login</td><td><input type="text" name="login"/></td></tr>
      <tr><td>Server password</td><td><input type="password" name="password"/></td></tr>
      <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
  </form>
  <form method="post" enctype="multipart/form-data" th:action="@{/form}" accept-charset="UTF-8">
    <table>
      Form
      <tr><td>File to upload:</td><td><input type="file" name="file" accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ID="fileSelect" /></td></tr>
      <tr><td>Server (Example: http://test7.arta.kz/Synergy/)</td><td><input type="text" name="host"/></td></tr>
      <tr><td>Server login</td><td><input type="text" name="login"/></td></tr>
      <tr><td>Server password</td><td><input type="password" name="password"/></td></tr>
      <tr><td>Form UUID</td><td><input type="text" name="formUUID"/></td></tr>
      <tr><td>Form Code</td><td><input type="text" name="formCode"/></td></tr>
      <tr><td>Form field</td><td><input type="text" name="formField"/></td></tr>
      <tr><td>Form type</td><td><input type="text" name="formType"/></td></tr>
      <tr><td>Form searchInRegistry</td><td><input type="text" name="formSearchInRegistry"/></td></tr>
      <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
  </form>
</div>

<div>
  <ul>
    <li th:each="file : ${files}">
      <a th:href="${file}" th:text="${file}" />
    </li>
  </ul>
</div>
</body>
</html>